.cardContainer{
    display: flex;
    flex-direction: column;
    margin: 100px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    .card{
        border: 1px solid black;
        width: 70%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #8ecae6;
        cursor: pointer;
        
    }
}